files:
  /etc/nginx/conf.d/https.conf:
    mode: "000644"
    owner: root
    group: root
    content: |
      # HTTPS Server

      server {
        listen 443;
        server_name localhost;

        ssl on;
        ssl_certificate /etc/pki/tls/certs/server.crt;
        ssl_certificate_key /etc/pki/tls/certs/server.key;

        ssl_session_timeout 5m;

        ssl_protocols TLSv1 TLSv1.1 TLSv1.2;
        ssl_prefer_server_ciphers on;

        location / {
          proxy_pass http://docker;
          proxy_http_version 1.1;
          
          proxy_set_header Connection "";
          proxy_set_header Host $host;
          proxy_set_header X-Real-IP $remote_addr;
          proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
          proxy_set_header X-Forwarded-Proto https;
        }
      }

  /etc/pki/tls/certs/server.crt:
    mode: "000400"
    owner: root
    group: root
    content: |
      -----BEGIN CERTIFICATE-----
      MIIDhjCCAm4CCQDWMMALf/QKbDANBgkqhkiG9w0BAQsFADCBhDELMAkGA1UEBhMC
      UlUxCzAJBgNVBAgMAk5OMQswCQYDVQQHDAJOTjEcMBoGA1UECgwTRGVmYXVsdCBD
      b21wYW55IEx0ZDEMMAoGA1UECwwDT3JnMQwwCgYDVQQDDANPcmcxITAfBgkqhkiG
      9w0BCQEWEm1vcnNza28xQGdtYWlsLmNvbTAeFw0yMTA4MTYxNTIzMjhaFw0yMjA4
      MTYxNTIzMjhaMIGEMQswCQYDVQQGEwJSVTELMAkGA1UECAwCTk4xCzAJBgNVBAcM
      Ak5OMRwwGgYDVQQKDBNEZWZhdWx0IENvbXBhbnkgTHRkMQwwCgYDVQQLDANPcmcx
      DDAKBgNVBAMMA09yZzEhMB8GCSqGSIb3DQEJARYSbW9yc3NrbzFAZ21haWwuY29t
      MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEApYTltiNMYBCgbn+tVsx/
      uqj96J9o7kU1OD2Z50XjSFtTWCoIwqFDponzcpy32kyutzKnpxDaGtxPx2DrIQRS
      BugAO+ZikVBnchTq8LSZ/Cmf9dQaIzgNG5F8FgdDr+qtzaStSz2Uw1ALImlUhnW8
      LOxHqlZYzoWf6bAhi4w2EJRu8/0/ftj42vlkl5u3hwUXd8XEzjJnkA/A79mfwDmB
      nBq7i4qmI1nu+SSgbCdOS1u/Tcnl2GOzNvMSkzPajuR7nW/Dt9uqWR3eCnbimE35
      /2CHa9yUeVkpC4GxDas18TlCUVxI728+pQBLwHnykRSHf6DhKB5GEMYDO5zm/Q2D
      7wIDAQABMA0GCSqGSIb3DQEBCwUAA4IBAQA5JkZb4sVPie/p6XyZsVOREcLrrUFx
      FfZk0q1n8CQ+hyp+S1FC2f10uhQp9P8NoDfgZAMKauv+KmWMzBcgYnNTR/YpCKMV
      txuP5Ia8oLycMc5Ejk/LfSqP1tqHESCJGn3dLaIfyFncsBcuRtvHi/xVRmAVskjf
      lQnBF3piEYrH/tEEiLcUWOjBN7QbDiM+zQiPiyIWowiIjJdJZBsWJBWBi/lPvpNL
      t8WzOI1RxJI+3QZSleLSs05uM7hkpxuDwYP40/7q1RXw97LcQTbYoiNRJw4rr8sg
      fqpZVW8QU0ZYFYgbGdKlxRQK9JbKQV6NvfrOvuibzuQhi6TxslVlMoM/
      -----END CERTIFICATE-----
